# Copyright (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
#
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  namespace: perfspect
  name: collector
  labels:
    app.kubernetes.io/name: collector
    app.kubernetes.io/component: backend
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: collector
      app.kubernetes.io/component: backend
  template:
    metadata:
      labels:
        app.kubernetes.io/name: collector
        app.kubernetes.io/component: backend
    spec:
      containers:
      - name: collector
        image: ptorre/perfspect-collector
        imagePullPolicy: Always
        resources:
          requests:
            cpu: 0.1
            memory: 1Gi
          limits:
            cpu: 0.1
            memory: 1Gi
        env:
        - name: CATEGORIES
          value: "all"
          #value: "system-summary host bios os software cpu prefetcher isa accelerator power cstates frequency sst uncore elc memory dimm nic netconfig netirq disk filesystem gpu gaudi cxl pcie cve process sensor chassisstatus pmu sel kernellog"
        - name: AGGREGATOR_ENDPOINT
          value: "http://aggregator.perfspect.svc.cluster.local:8080/upload.php"
        - name: METRICS
          value: "False"
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        #command: ["bash", "-c"]
        #args:
        #- sleep 10000;
        securityContext:
           privileged: true
