# Copyright (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
#
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  namespace: perfspect
  name: collector
  labels:
    app.kubernetes.io/name: collector
    app.kubernetes.io/component: backend
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: collector
      app.kubernetes.io/component: backend
  template:
    metadata:
      labels:
        app.kubernetes.io/name: collector
        app.kubernetes.io/component: backend
    spec:
      containers:
      - name: collector
        image: ptorre/perfspect-collector
        imagePullPolicy: Always
        resources:
          requests:
            cpu: 0.1
            memory: 1Gi
          limits:
            cpu: 0.1
            memory: 1Gi
        env:
        - name: AGGREGATOR_ENDPOINT
          value: "http://aggregator.perfspect.svc.cluster.local:8080/upload.php"
        - name: METRICS
          value: "False"
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
#        securityContext:
#          runAsNonRoot: true
#          runAsUser: 10001
#          runAsGroup: 10001
#          allowPrivilegeEscalation: false
#          capabilities:
#            drop:
#              - ALL
#          seccompProfile:
#            type: RuntimeDefault
          #readOnlyRootFilesystem: true
#---
#apiVersion: v1
#kind: Service
#metadata:
#  name: perfspect
#  namespace: perfspect
#  labels:
#    app.kubernetes.io/name: perfspect
#    app.kubernetes.io/component: backend
#spec:
#  type: NodePort
#  ports:
#  - name: web
#    port: 80
#    targetPort: 80
#  selector:
#    app.kubernetes.io/name: perfspect
#    app.kubernetes.io/component: backend
